.loan-calculator {
  @include flex($direction: column);
  width: 40%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fefefe;
  border-radius: 1rem;
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
}
